/* Estilos generales */

body {
    font-family: 'Open Sans', sans-serif; /* Fuente legible */
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0;
  }
  
  /* Encabezado */
  
  header {
    background-color: #f09d57; /* Naranja vibrante */
    color: #fff; /* Blanco para mejor contraste */
    text-align: center;
    padding: 40px 0;
  }
  
  .welcome-message {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
  }
  
  .center-image img {
    animation: bounce 2s ease-in-out infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* Formulario */
  
  main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #submitBtn {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #submitBtn:hover {
    background-color: #45a049;
  }
  
  /* Pie de página */
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #0056b3;
  }
  